body.claro {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #1A1A1A;
    line-height: 1.6;
}

body.escuro {
    background-color: #121212;
    color: #F0F0F0;
}

.site-header, footer {
    background-color: #1A1A1A;
    color: #FFFFFF;
}

.logo.link {
    color: #C6A756;
    text-decoration: none;
    font-weight: 700;
}

.nav-list a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-list a:hover {
    color: #D8B768;
}

.botao-tema {
    border: 1px solid #C6A756;
    background: transparent;
    color: #C6A756;
    padding: 0.4rem 0.7rem;
    border-radius: 4px;
    cursor: pointer;
}

.botao-tema:hover{
    background-color: #C6A756;
    color: #1A1A1A;
}

.bemvindo-section {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #F0F0F0;
    border-radius: 8px;
}

.titulo-principal {
    font-size: 2rem;
    color: #1A1A1A;
}

.descricao {
    font-size: 1.1rem;
    color: #666666;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 100%;
}

.card h3 {
    margin: 0.5rem 0;
}

.card button {
    background-color: #C6A756;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

body.escuro .card {
    background-color: #1A1A1A;
    border-color: #333333;
}

.grid-cardapio {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(220px, 1fr));
    gap: 1rem;
    padding: 1rem;
}