:root {
  --cor-fundo: #fef9f0;           
  --cor-texto: #333333;           
  --cor-primaria: #ffffff;        
  --cor-secundaria: #d4af37;      
  --cor-link: #333333;            
  --cor-hover-bg: #d4af37;         
  --cor-hover-texto: #ffffff;      
  --cor-small: #000000;            
  --cor-total: #b8860b;            
}

body.escuro {
  --cor-fundo: #1a1a1a;          
  --cor-texto: #e6e6e6;          
  --cor-primaria: #2c2c2c;       
  --cor-secundaria: #d4af37;     
  --cor-link: #e6e6e6;           
  --cor-hover-bg: #b8860b;       
  --cor-hover-texto: #000000;    
  --cor-small: #aaaaaa;          
  --cor-total: #d4af37;           
}
