:root {
  --cor-fundo: #fbf9f3;
  --cor-texto: #4d4d4d;
  --cor-primaria: #fafaf7;
  --cor-secundaria: #d4af37;
  --cor-link: #565656;
  --cor-hover-bg: #d0b93f;
  --cor-hover-texto: #ffffff;
  --cor-small: #7a7a7a;
  --cor-total: #c1a019;
}

body.escuro {
  --cor-fundo: #1a1a1a;
  --cor-texto: #e6e6e6;
  --cor-primaria: #2f2f2f;
  --cor-secundaria: #d4af37;
  --cor-link: #e6e6e6;
  --cor-hover-bg: #b8860b;
  --cor-hover-texto: #000000;
  --cor-small: #aaaaaa;
  --cor-total: #d4af37;
}
